/* https://github.com/raflimuzammil/reset-css.git */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

button,
input,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

menu,
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
